/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* universal selector */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
}
section{
    min-width: 1440px;
    margin: 100px auto;
    /* border: 1px solid red; */
}
.btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    color: white;
}
.title{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 14px;
}
.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
/* navbar section */
header{
    background-image: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgba(0,0,0,1) 100%);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 280px;
    margin: 50px 0;
    font-weight: 800;
    font-size: 36px;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.navbar{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
    gap: 47px;
    margin-left: 500px;
}
.navbar li a{
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin: 12px 0;
    color: white;
}
.home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 8px 20px;
}
.menu-bar{
    display: none;
    color: rgb(255, 255, 255);
}
/* navbar section end */

/* banner section */
.header-section{
    max-width: 1060px;
    margin: 0 auto;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 50%;
    color: white;
}
.banner-content h3{
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 28px;
}
#shape{
    font-family: "Dancing Script", cursive;
}
.banner-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
.btn-2{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: transparent;
}
.banner-right-side{
    position: relative;
    width: fit-content;
}
.banner-right-side img{
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-right{
    top: 120px;
    right: -60px;
}
.bottom-left{
    bottom: 43px;
    left: -115px;
}
.sticker{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
}
.sticker-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticker i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    color: white;
}
.sticker h3{
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.sticker-2 h3{
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.sticker p{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}
/* banner section end */

/* Change Your Habits started */
.change-your-habits-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-your-habits-content{
    width: 671px;
    text-align: center;
}
.change-your-habits-card-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 58px;
}
.card{
    width: 231px;
    padding: 25px;
    gap: 30px;
    text-align: center;
}
.card-img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.card-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 20px 0 5px;
}
.card-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}
/* Change Your Habits ended */

/* Run an Extra section started */
.run-an-extra-container{
    max-width: 1060px;
    min-height: 371px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-an-extra-content{
    max-width: 40%;
    margin: 40px 55px;
}
.run-an-extra-content p{
    margin-bottom: 38px;
    text-align: start;
}
.run-an-extra-img img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 30px;
    margin-left: 140px;
}
/* Run an Extra section ended  */