/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* universal selector */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
}
section{
    min-width: 1440px;
    margin: 100px auto;
    /* border: 1px solid red; */
}
.btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    color: white;
}
.title{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 14px;
}
.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
/* navbar section */
header{
    background-image: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgba(0,0,0,1) 100%);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 280px;
    margin: 50px 0;
    font-weight: 800;
    font-size: 36px;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.navbar{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
    gap: 47px;
    margin-left: 500px;
}
.navbar li a{
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin: 12px 0;
    color: white;
}
.home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 8px 20px;
}
.menu-bar{
    display: none;
    color: rgb(255, 255, 255);
}
/* navbar section end */

/* banner section */
.header-section{
    max-width: 1060px;
    margin: 0 auto;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 50%;
    color: white;
}
.banner-content h3{
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 28px;
}
#shape{
    font-family: "Dancing Script", cursive;
}
.banner-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
.btn-2{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: transparent;
}
.banner-right-side{
    position: relative;
    width: fit-content;
}
.banner-right-side img{
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-right{
    top: 120px;
    right: -60px;
}
.bottom-left{
    bottom: 43px;
    left: -115px;
}
.sticker{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
}
.sticker-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticker i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    color: white;
}
.sticker h3{
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.sticker-2 h3{
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.sticker p{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}
/* banner section end */

/* Change Your Habits started */
.change-your-habits-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-your-habits-content{
    width: 671px;
    text-align: center;
}
.change-your-habits-card-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 58px;
}
.card{
    width: 231px;
    padding: 25px;
    gap: 30px;
    text-align: center;
}
.card-img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.card-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 20px 0 5px;
}
.card-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}
/* Change Your Habits ended */

/* Run an Extra section started */
.run-an-extra-container{
    max-width: 1060px;
    min-height: 371px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-an-extra-content{
    max-width: 40%;
    margin: 40px 55px;
}
.run-an-extra-content p{
    margin-bottom: 38px;
    text-align: start;
}
.run-an-extra-img img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 30px;
    margin-left: 140px;
}
/* Run an Extra section ended  */

/* BMI section started */
.bmi-calculator{
    max-width: 671px;
    margin: 0 auto;
}
.bmi-calculator p{
    text-align: start;
}
.bmi-calculator-container{
    height: 500px;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);;
}
.bmi-calculator-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bmi-calculator-chart{
    width: 350px;
    margin-bottom: 17px;
}
.bmi-calculator-chart-title{
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}
.bmi-chart{
    width: 310px;
    height: 216px;
    margin-top: 52px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    margin-left: 150px;
}
.bmi-chart th{
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.bmi-chart th, .bmi-chart td{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0, 18px;
    text-align: left;
}
.bmi-chart tr{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.calculate-your-bmi{
    min-width: 577px;
    margin-left: 100px;
}
.calculate-your-bmi-info{
    margin-bottom: 30px;
}
.calculate-your-bmi-title{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}
.calculate-your-bmi-info p{
    text-align: start;
}
.calculate-your-bmi-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
    text-align: center;
}
.calculate-your-bmi-input input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.calculate-your-bmi-input input[type="text"], .calculate-your-bmi-input select{
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 20px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.calculate-your-bmi-input select{
    grid-column: span 1;
}
.calculate-your-bmi-input option{
    color: black;
}
#select-an-activity-factor{
    height: 50px;
    grid-column: span 2;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.calculate-your-bmi-input > .btn{
    margin-top: 34px;
}
/* BMI section ended */

/* Meet Our Team started */
.our-team-header{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.our-team-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    background:  #222222;
    padding: 3%;
    border-radius: 18px;
    margin-top: 50px;
}
.our-team-member-info{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0000004b;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end
}
.our-team-member-info h3{
    font-size: 2.2rem;
}
.our-team-members{
    position: relative;
    border-radius: 18px;
    overflow: hidden;
}
.our-team-members img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Meet Our Team ended */

/* footer section started */
footer {
    height: 489px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-item {
    max-width: 1059px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.logo{
    font-size: 70px;
    font-weight: 800;
}

.footer-logo p{
    text-align: start;
    /* margin-top: 20px; */
}

footer ul h4 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 49px;
}

footer ul li {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

footer hr {
    margin-top: 78px;
    width: 95%;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.copyright {
    margin: 35px auto;
    color: rgba(255, 255, 255, 0.5);
}
/* footer section ended */